---
title: Home
---
<!DOCTYPE html>
<link rel="stylesheet" href="assets/css/styles.css">
<html lang="en" style="background-color: #14000d">
<body style="background: color #14000d" style="overflow-y: auto">
    <div class="header">
        <img src="zwicklabimages/zwicklablogo.jpg" alt="logo" />
        <div class="header-right">
          {% for item in site.data.samplelist.docs %} 
            <li class="{% if item.url == page.url %}active{% endif %}">
                <a href="{{item.url}}">{{item.title}}</a>
            </li>
          {% endfor %}
        </div>
      </div>
    <div class='imgbox' id="research statement on top of image">
        <img class='headerimg' src="zwicklabimages/GENERAL_bluesky_swiss roll magenta cropped.jpg">
        <h1 class="researchstatement">Really very impactful statement.</h1>
    </div>
</body>
</html>